<nav class="navbar navbar-expand-lg navbar-dark bg-info font" *ngIf="mostrarMenu">
  <img src="assets/imagens/milk.png">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav offset-1">
      <li class="nav-item"routerLinkActive="active">
        <div class="btn-group " dropdown>
          <a class="nav-link dropdown-toggle"  aria-controls="dropdown-basic" id="button-basic" dropdownToggle>Cadastros</a>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item"routerLink="cadastro-estoque-materias-primas">Cadastrar depositos</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="cadastro-estoque-materias-primas/cadastrar_materias_primas">Cadastrar materias primas</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="cadastro-estoque-materias-primas/cadastrar_formulas">Cadastrar formulas</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item ml-2" routerLinkActive="active">
        <a class="nav-link" routerLink="estoque">Estoque</a>
      </li>
      <li class="nav-item ml-2"routerLinkActive="active">
        <a class="nav-link" routerLink="simulador">Saída</a>
      </li>
      <li class="nav-item ml-2"routerLinkActive="active">
        <a class="nav-link" routerLink="lancarTl">Entrada</a>
      </li>
      <li class="nav-item ml-2"routerLinkActive="active">
        <a class="nav-link" routerLink="pesquisa">Pesquisar</a>
      </li>
      <li class="nav-item ml-2"routerLinkActive="active">
        <a class="nav-link" routerLink="mensagem">Mensagens</a>
      </li>
      <li class="nav-item ml-2"routerLinkActive="active">
        <a class="nav-link" routerLink="calculos">Cálculos</a>
      </li>
      <li class="nav-item ml-5"routerLinkActive="active">
        <a class="nav-link" (click)="voltarAoLogin()">Logout</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
