<div class="card font mt-3">
  <div class="card-header">
    <h3 class="offset-4">Cadastro de formulas</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="formularioCadastro">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="gordura">Gordura</label>
          <input type="text" class="form-control" id="gordura" formControlName="gordura">
        </div>
        <div class="form-group col-md-3">
          <label for="fatorAcucarMinimo">Fator açucar minimo</label>
          <input type="text" class="form-control" id="fatorAcucarMinimo" formControlName="fatorAcucarMinimo">
        </div>
        <div class="form-group col-md-3">
          <label for="fatorAcucar">Fator açucar objetivo</label>
          <input type="text" class="form-control" id="fatorAcucar" formControlName="fatorAcucar">
        </div>
        <div class="form-group col-md-3">
          <label for="fatorAcucarMaximo">Fator açucar maximo</label>
          <input type="text" class="form-control" id="fatorAcucarMaximo" formControlName="fatorAcucarMaximo">
        </div>
        <div class="form-group col-md-3">
          <label for="rfMinimo">Rf minimo</label>
          <input type="text" class="form-control" id="rfMinimo" formControlName="rfMinimo">
        </div>
        <div class="form-group col-md-3">
          <label for="rf">Rf objetivo</label>
          <input type="text" class="form-control" id="rf" formControlName="rf">
        </div>
        <div class="form-group col-md-3">
          <label for="rfMaximo">Rf maximo</label>
          <input type="text" class="form-control" id="rfMaximo" formControlName="rfMaximo">
        </div>
        <div class="form-group col-md-3">
          <label for="acucar">Açucar</label>
          <input type="text" class="form-control" id="acucar" formControlName="acucar">
        </div>
      </div>
      <button class="btn btn-success" (click)="cadastrar()">Cadastrar</button>
    </form>
  </div>
</div>

<div class="card font mt-3 scroll">
  <div class="card-header">
    <h3 class="offset-4">Formulas cadastradas até agora</h3>
  </div>
  <div class="card-body">
    <form>
      <div class="form-row card-body bg-light" *ngFor="let formula of listaFormulasResult;let i=index">
          <div class="row mt-2 bg-warning">
            <div class="form-group col-md-4">
              <label for="gordura1">Gordura</label>
              <input type="text" class="form-control" id="gordura1" value="{{formula.gordura}}" disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="fatorAcucarMinimo1">Fator açucar minimo</label>
              <input type="text" class="form-control" id="fatorAcucarMinimo1" value="{{formula.fatorAcucarMin}}" disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="fatorAcucar1">Fator açucar objetivo</label>
              <input type="text" class="form-control" id="fatorAcucar1" value="{{formula.fatorAcucarObj}}" disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="fatorAcucarMaximo1">Fator açucar maximo</label>
              <input type="text" class="form-control" id="fatorAcucarMaximo1" value="{{formula.fatorAcucarMax}}" disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="rfMinimo1">Rf minimo</label>
              <input type="text" class="form-control" id="rfMinimo1" value="{{formula.rfMin}}" disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="rf1">Rf objetivo</label>
              <input type="text" class="form-control" id="rf1" value="{{formula.rfObj}}" disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="rf1Maximo">Rf maximo</label>
              <input type="text" class="form-control" id="rf1Maximo" value="{{formula.rfMax}}" disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="acucar1">Açucar</label>
              <input type="text" class="form-control" id="acucar1" value="{{formula.acucar}}" disabled>
            </div>
            <div class="form-inline col-md-3 mt-4">
              <button class="btn btn-danger" (click)="excluirFormula(i)">Excluir</button>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>

<ng-template #errorTemplate>
  <div class="modal-header bg-danger">
    <h4 class="modal-title pull-left">Lista de erros</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="referenciaModalError.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul>
      <li *ngFor="let error of referenciaModalError.content">{{error}}</li>
    </ul>
  </div>
</ng-template>

<ng-template #desejaDeletartemplate>
  <div class="modal-body text-center">
    <p>Voce deseja realmente excluir esta formula?</p>
    <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
  </div>
</ng-template>

<ng-template #sucessTemplate>
  <div class="modal-header bg-success row" >
    <h4 class="modal-title pull-left offset-2">Formula cadastrada com sucesso</h4>
  </div>
</ng-template>

