# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Programa de estandardizacao de leite.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\farle\RiderProjects\Programa de estandardizacao de leite\.idea\.idea.Programa de estandardizacao de leite\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
